<div class="container">
    <div class="main">
        <div class="main-center">
            <h1>Registrar nuevo request</h1>
            <form [formGroup]="this.requestForm.Batch" #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="Line">Linea</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-folder-open"></i>
                        </span>
                        <input type="text" placeholder="Seleccionar o Buscar Catalogo" #line class="form-control"
                            id="line" formControlName="Line" [matAutocomplete]="autoLine" [ngClass]="{
                      'is-invalid':
                        requestForm.Batch.get('Line').touched &&
                        requestForm.Batch.get('Line').invalid
                    }">
                        <div class="invalid-feedback">
                            Debe seleccionar una l&iacute;nea
                        </div>
                        <mat-autocomplete #autoLine="matAutocomplete">
                            <mat-option *ngFor="let option of filteredLines | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>

                </div>

                <div class="form-group" *ngIf="line.value">
                    <label for="Catalog">Cat&aacute;logo</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-folder-open"></i>
                        </span>
                        <input type="text" placeholder="Seleccionar o Buscar Catalogo" class="form-control" id="catalog"
                            formControlName="Catalog" [matAutocomplete]="auto" [ngClass]="{
              'is-invalid':
                requestForm.Batch.get('Catalog').touched &&
                requestForm.Batch.get('Catalog').invalid
            }">
                        <div class="invalid-feedback">
                            Debe seleccionar un cat&aacute;logo
                        </div>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredCatalogs | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>

                </div>
                <div class="form-group">
                    <label for="Tests">Tipo de Prueba</label>
                    <span class="input-group-addon">
                        <i class="fas fa-bolt"></i>
                    </span>
                </div>
                <div class="box">
                    <div class="custom-control custom-checkbox" *ngFor="let control of TestTypes; let i = index">
                        <input type="checkbox" formArrayName="TestTypes" class="custom-control-input" id="{{ control }}"
                            (change)="onCheckChange($event)" [value]="control" />
                        <label class="custom-control-label" for="{{ control }}">{{
              control
            }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Breakers">Quantity</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <input type="number" placeholder="Inserte la cantidad de Breakers" class="form-control" id="quantity"
                            formControlName="Breakers" [ngClass]="
              {
                'is-invalid':
                  requestForm.Batch.get('Breakers').touched &&
                  requestForm.Batch.get('Breakers').invalid
                  || requestForm.Batch.get('Breakers').value < 0
                  || requestForm.Batch.get('Breakers').value === 0
              }
            " />
                        <div class="invalid-feedback">
                            Debe introducir un valor v&aacute;lido
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="Purpose">Purpose</label>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-bullseye"></i>
                        </span>
                        <select class="form-control" id="purpose" formControlName="Purpose" [ngClass]="
                        {
                          'is-invalid':
                            requestForm.Batch.get('Purpose').touched &&
                            requestForm.Batch.get('Purpose').value === ''
                        }
                      " >
                            <option value='' default selected>Seleccionar Prop&oacute;sito</option>
                            <option *ngFor="let purpose of Purposes">{{ purpose }}</option>
                        </select>
                        <div class="invalid-feedback">
                            Debe seleccionar un prop&oacute;sito
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Disposition">Disposition <span class="input-group-addon">
                            <i class="far fa-sticky-note"></i>
                        </span></label>
                    <div class="input-group">
                        <div class="form-check-inline form-check">
                            <label for="radio1" class="form-check-label">
                                <input type="radio" id="radio1" #send name="radios" value="option1"
                                    class="form-check-input">Enviar a:
                            </label>
                            <br>
                        </div>
                        <input type="text" id="text-input" name="text-input" *ngIf="send.checked"
                        placeholder="Ubicación / Responsable" class="form-control">
                    </div>
                    <div class="input-group form-check-inline form-check">
                        <label for="radio2" class="form-check-label">
                            <input type="radio" id="radio2" name="radio2" value="option2"
                                class="form-check-input">Scrap
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Priority">Priority
                        <span class="input-group-addon">
                            <i class="fab fa-product-hunt" style="padding: 0px;"></i>
                        </span>: </label>
                    <div class="form-check-inline form-check" style="padding-left: 10px">
                        <label for="inline-radio1" class="form-check-label " style="padding-right: 10px;">
                            <input type="radio" id="inline-radio1" name="Priority" value="1" class="form-check-input"
                                formControlName="Priority" />Baja
                        </label>
                        <label for="inline-radio2" class="form-check-label " style="padding-right: 10px;">
                            <input type="radio" id="inline-radio2" name="Priority" value="2"
                                class="form-check-input" formControlName="Priority" />Media
                        </label>
                        <label for="inline-radio3" class="form-check-label " style="padding-right: 10px;">
                            <input type="radio" id="inline-radio3" name="Priority" value="3" class="form-check-input"
                                formControlName="Priority" />Alta
                        </label>

                        <label for="inline-radio4" class="form-check-label ">
                            <input type="radio" id="inline-radio4" name="Priority" value="4"
                                class="form-check-input" formControlName="Priority" />Urgente
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Comment">Comentario</label>
                        <span class="input-group-addon">
                            <i class="fas fa-comment"></i>
                        </span>
                        <textarea name="textarea-input" id="textarea-input" rows="7" formControlName="Comment"
                            placeholder="Contenido..." class="form-control"></textarea>
                    </div>
                </div>
                <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="!f.form.valid">
                    <i class="far fa-save"></i> Submit Request
                </button>
            </form>
        </div>
    </div>
</div>