<div class="ml-5 mr-5 mt-5">
    <h1>Hola, {{ userProfile[0] }}</h1>
    <div class="row">
        <div class="col-sm-6">
            <h4>Assigned/In Progress Requests</h4>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Batch ID</th>
                        <th scope="col">Catalog</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of batch">
                        <th scope="row">{{ item.data.BatchID }}</th>
                        <td>{{ item.data.Catalog }}</td>
                        <td>{{item.data.tech}}</td>
                        <td>{{item.data.Quantity}}</td>
                        <td *ngIf="item.data.Priority == 1">Baja</td>
                        <td *ngIf="item.data.Priority == 2">Media</td>
                        <td *ngIf="item.data.Priority == 3">Alta</td>
                        <td *ngIf="item.data.Priority == 4">Urgente</td>
                        <td>{{item.data.Date}}</td>
                        <td>
                            <span class="badge" [ngClass]="{'badge-danger': item.data.Status == 'New', 'badge-info': item.data.Status != 'New'}">{{ item.data.Status }}</span>

                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" (click)="details(item.id)">
                                <i class="fa fa-info"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
          <div class="col-sm-6">
        <h4 id="title">Request Creados</h4>
        <table class="table">
            <thead class="thead-dark" id="header">
                <tr>
                    <th scope="col">Batch ID</th>
                    <th scope="col">Catalog</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Priority</th>
                    <th scope="col">DueDate</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of batch2">
                    <th scope="row">{{ item.data.BatchID }}</th>
                    <td>{{ item.data.Catalog }}</td>
                    <td>{{ item.data.Breakers }}</td>
                    <td>{{ item.data.Priority }}</td>
                    <td>{{ item.data.Date }}</td>
                    <td>{{item.data.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
