<div class="container  mt-3">




    <h1>User List</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Supervisor</th>
                <th scope="col">Type</th>
                <th scope="col">Control</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i = index">
                <th scope="row">{{ i }}</th>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.supervisor }}</td>
                <td>{{ user.type }}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteUser(user, i)"><i class="fa fa-trash"></i></button>
                    <button class="btn btn-info" (click)="changeType(user)"><i class="fa fa-plus"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <small>User type: 0- Guest | 1- Technician | 2- Engineer | 3- Supervisor | 4- Admin | 5- Super Admin</small>

</div>