<div class="ml-5 mr-5 mt-5">
    <h1>Hola, {{ userProfile[0] }}</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter primary">
                <i class="fa fa-database"></i>
                <span class="count-numbers">Request Pendientes</span>
                <span class="count-name">{{PendingRequests.length}}</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter danger">
                <i class="fa fa-cogs"></i>
                <span class="count-numbers">Request en Progreso</span>
                <span class="count-name">{{InProgressRequests.length}}</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter success">
                <i class="fa fa-check-circle"></i>
                <span class="count-numbers">Request Completados</span>
                <span class="count-name">{{DoneRequests.length}}</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter info">
                <i class="fa fa-clock"></i>
                <span class="count-numbers">{{ date }}</span>
                <span class="count-name">{{dateTxt}}</span>
            </div>
        </div>
    </div>

    <hr>

    <div class="mt-2 mb-2 icon-btn">

        <button class="btn-full yellow" (click)="gotoPage('requestList')">
            <span class="btn-gradient ">
                <i class="fa fa-check"></i>
            </span>
            <span class="btn-text ">Lista de Request</span>
        </button>

        <button class="btn-full {{item.color}}" *ngFor="let item of actions" [hidden]="!item.user.includes(userType)" (click)="gotoPage(item.action)">
            <span class="btn-gradient ">
                <i class="fa fa-{{item.icon}}"></i>
            </span>
            <span class="btn-text ">{{item.name}}</span>
        </button>

    </div>
</div>

<div class="ml-5 mr-5 mt-5 ">

    <br><br>
    <hr>
    <h2>Últimos 5 Requests</h2>
    <table class="table ">
        <thead class="thead-dark ">
            <tr>
                <th scope="col ">#</th>
                <th scope="col ">Request</th>
                <th scope="col ">Requester</th>
                <th scope="col ">Date</th>
                <th scope="col ">Tests</th>
                <th scope="col ">Proposito</th>
                <th scope="col ">Prioridad</th>
                <th scope="col ">Asignados</th>
                <th scope="col ">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of lastFive, let i = index">
                <th scope="row ">{{i + 1}}</th>
                <td>{{item.BatchID}}</td>
                <td>{{item.user}}</td>
                <td>{{item.Date}}</td>
                <td>{{item.TestTypes}}</td>
                <td>{{item.Purpose}}</td>
                <td>{{item.Priority}}</td>
                <td>{{item.tech}}</td>
                <td>{{item.Status}}</td>
               <!---- <td>
                    <button class="btn btn-info btn-sm"><i class="fa fa-eye"></i></button>
                </td>
                --->
            </tr>
        </tbody>
    </table>
</div>

